.DS_Store
*.swp
*~
._*
*.iml
.idea
.ackrc
builds
build
logs
pid
dist
pmp
secure.env
report.xml
Godeps
.glide
junit.out
cover.out
**/junit.tmp
.coverage/
!.coverage/.gitkeep
vendor/
test.sql
test.js
test*
