{{define "content"}}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div style="float: left;">Platforms list</div>
            <div style="float: right; margin-right: 10px;">
                <a href="/platform_type/create/">Create new<span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px; " aria-hidden="true"></span></a>
            </div>
            <div style="clear: both"></div>
        </div>

        <!-- Table -->
        <table class="table">
            <thead style="text-align: center;">
                <td>Name</td>
                <td>Parameters</td>
            </thead>
            {{range $index, $element := .}}
            <tr>
                <td><a href="/platform_type/{{$element.ID}}/edit/">{{$element.Name}}</a></td>
                <td class="text-center"><a href="/platform_type/{{$element.ID}}/parameter_map/list/"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a></td>
            </tr>
            {{end}}
        </table>
    </div>
{{end}}