{{define "menu"}}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Control panel</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/advertiser/list/">Advertisers</a></li>
                <li><a href="/publisher/list/">Publishers</a></li>
                <li><a href="/parameter/list/">Parameters</a></li>
                <li><a href="/platform_type/list/">Platforms</a></li>
                <li><a href="#" onclick="getStatisticDefaultParams();">Statistics</a></li>
                <li><a href="#" onclick="getStatisticRTBDefaultParams();">RTB Statistics</a></li>
                {{/*<li><a href="/publisher_admin/">Publisher admin</a></li>*/}}
                {{/*<li><a href="/ad_tags_recommendation/">Recommendations</a></li>*/}}
                <li><a href="/invoice/publisher/list/">Pub invoice</a></li>
                <li><a href="/invoice/advertiser/list/">Advertiser invoice</a></li>
                <li><a href="/domains/">Domains</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{{end}}